{% if environment == "live" %}
# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                trust
host    all             postgres        .$DOMAIN_NAME               md5
host    sameuser        all             .$DOMAIN_NAME               md5
{% else %}
# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                trust
host    all             postgres        localhost               trust
{% endif %}