# {{ ansible_managed }} - {{ template_run_date }}

# The port 80 host is required for renewing Let's Encrypt certificates.
<VirtualHost *:80>
    ServerName {{ domain_name }}
    ServerAlias *.{{ domain_name }}
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteCond %{REQUEST_URI} !^/.well-known [NC]
    RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]
    DocumentRoot {{ deploy_root }}/maint/www
</VirtualHost>

# The 443 host is where the project is actually served.
<VirtualHost *:443>
    ServerName {{ domain_name }}
    #ServerAlias *.{{ domain_name }}
    DocumentRoot {{ deploy_root }}/current/source/www

    Alias /robots.txt {{ deploy_root }}/current/source/www/robots.txt
    Alias /favicon.ico {{ deploy_root }}/current/source/www/assets/images/favicon.png

    Alias /_assets/ {{ deploy_root }}/current/source/www/assets/
    <Directory {{ deploy_root }}/current/source/www/assets>
        Require all granted
    </Directory>

    Alias /_content/ {{ deploy_root }}/current/source/www/content/
    <Directory {{ deploy_root }}/current/source/www/content>
        Require all granted
    </Directory>

    # As of ubuntu 18, apache version is 2.4.7 and IfFile requires apache 2.4.34 or later.
    #<IfFile /etc/letsencrypt/live/{{ domain_name }}/privkey.pem>
    #</IfFile>
    #SSLEngine on
    #SSLCertificateKeyFile /etc/letsencrypt/live/{{ domain_name }}/privkey.pem
    #SSLCertificateFile /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem

    # See https://httpd.apache.org/docs/2.2/mod/mod_env.html#setenv
    # This doesn't appear to work.
    # See http://stackoverflow.com/questions/9016504/apache-setenv-not-working-as-expected-with-mod-wsgi
    # SetEnv DJANGO_ENVIRONMENT {{ deploy_env }}

    WSGIDaemonProcess {{ domain_name }} python-path={{ deploy_root }}/current/source:{{ deploy_root }}/current/python/lib/python2.7/site-packages
    WSGIProcessGroup {{ domain_name }}
    WSGIScriptAlias / {{ deploy_root }}/current/source/main/wsgi.py process-group={{ domain_name }}
    <Directory {{ deploy_root }}/current/source/main>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

</VirtualHost>