"""
WSGI config for the {{ domain_name }} tenant.

"""
# Imports
import os

# Make sure settings are used for the specific deployment environment.
os.environ.setdefault("DJANGO_ENVIRONMENT", "{{ deploy_env }}")
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "main.settings")

from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()
